datetime                     5.1
numpy                        1.22.3
Pillow                       9.1.0
pip                          23.0.1
pyparsing                    3.0.9
requests                     2.27.1
streamlit                    1.11.1
streamlit-lottie             0.0.3
toml                         0.10.2
turtle                       0.0.1
typing_extensions            4.2.0
